    <main>
      <!-- <header>
        <div class="header_container">
        <nav class="navigation">
          <div class="navigation_logo-box">
          <a class="header_logo" href="./index.html">
            <svg class="logo_icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-film"></use>
            </svg>
          </a>
          <h1 class="header_title">Filmoteka</h1>
        </div>
          <ul class="navigation_list">
              <li class="navigation_item"><a class="navigation_link current" href="./index.html">Home</a></li>
              <li class="navigation_item"><a class="navigation_link" href="./my_library.html">My library</a></li>
          </ul>
      </nav>
    <form id="search-form" name="search-form">
    <div class="input-field">
        <div class="input-content">
        <input type="text" name="search_input" id="search_input" class="search_input" minlength="2" placeholder=" ">
        <label for="search_input" class="input_label">Movie search</label>
        <button class='submit-btn' type="submit">
          <svg class="input-icon" width="12" height="12">
            <use href="./images/symbol-defs.svg#input-icon"></use>
          </svg>
        </button>
        </div>
    </div>
    </form>
  </div>     
      </header>

<section>
  <div class="container">
  <div class="films_box">
    
  </div>
  </div>
</section> -->

<div class="backdrop">
  <div class="modal">
      <svg class="modal__close-icon" width="14" height="14">
        <!-- <use href="./images/symbol-defs.svg#icon-arrow-up"></use> -->
      </svg>
      <div class="modal__container">
      <img class="modal__image" src="https://klike.net/1706-skachat-kartinki-horoshego-kachestva-50-foto.html" alt="" width="240" height="357">
      <div class="modal__info-box">
        <p class="modal__title">Title</p>
          <div class="modal__features-box">
             <div class="modal__issues">
               <p class="modal__keys">Vote / Votes</p>
              </div>
              <div class="modal__issues modal__values-box">
               <p class="modal__value-numbers modal__value-numbers--accent">7.3</p><span class="modal__slash">/</span><p class="modal__value-numbers modal__value-numbers--simple">5</p>
              </div>
              <div class="modal__issues">
               <p class="modal__keys">Popularity</p>
              </div>
              <div class="modal__issues">
               <p class="modal__value-numbers">7.3</p>
              </div>
              <div class="modal__issues">
               <p class="modal__keys">Original Title</p>
              </div>
              <div class="modal__issues">
               <p class="modal__value-text modal__value--main-text">Original Title</p>
             </div>
             <div class="modal__issues">
               <p class="modal__keys">Genre</p>
              </div>
              <div class="modal__issues">
               <p class="modal__value-text">Genre</p>
              </div>
          </div>
      <p class="modal__about-title">About</p>
      <p class="modal__about-text">Text</p>
      <div class="modal__bottom-thumb">
        <div class="modal__btn-box">
          <button class='modal__btn' type="button">add to watched</button>
          <button class='modal__btn' type="button">add to queue</button>
        </div>
      </div>      
    </div>     
    </div>  
    </div>
  </div>
    

    <div class="gallery-cards">
    <div class="gallery-box">
      <p>Popularity</p>
    </div>
    <div class="gallery-box">
      <p>7.3</p>
    </div>
    <div class="gallery-box">
      <p>Popularity</p>
    </div>
    <div class="gallery-box">
      <p>7.3</p>
    </div>
    <div class="gallery-box">
      <p>Popularity</p>
    </div>
    <div class="gallery-box flexy">
      <p class="modal__value-numbers modal__value-numbers--accent">7.3</p><span class="modal__slash">/</span><p class="modal__value-numbers modal__value-numbers--simple">5</p>
    </div>
    <div class="gallery-box">
      <p>Popularity</p>
    </div>
    <div class="gallery-box">
      <p>7.3</p>
    </div>
    </div>
    </main>
